.admin-panel{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* flex-direction: column; */
    gap: 2vw;
}
.button-container{
    /* text-decoration: none; */
    /* margin: auto; */
    /* border: 1px solid orange; */
    margin-top: 4vw;
    margin-bottom: 4vw;
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
    color: azure;
    background-color: rgba(189, 132, 25, 0.826);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    text-align: center;
    font-family: var(--mainFont);
}
.logout-div{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    margin-top: 1vw;
}