.outer-container-footer{
    height: 50vh;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 50px;
}
.box-3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: auto; */
    /* border: 1px solid red; */
}
.mail{
    width: 30%;
    /* height: 20vh; */
    color: white;
    /* margin-top: 4vw; */
}
input{
    border: none;
    background-color:  none;
    width: 15vw;
    border-radius: 10px;
    padding: 0.5vw;
    border-bottom: 1px solid gray;
    
}
.links{
    color: white;
}
.links li{
    font-size: var(--para-text);
    line-height: 1.5;
    list-style: none;
}
.no-underline-f{
    text-decoration: none;
    color: white;
}
.address{
    color: white;
    margin-top: -1vw;
}
.address p{
    line-height: 1.5;
}
.box-3 h3{
    font-size: 48px;
}
.submit-button{
    margin-top: 0.5vw;
    width: 5vw;
    height: 4vh;
    border-radius: 10px;
    color: azure;
    background-color: rgba(189, 132, 25, 0.826);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: var(--mainFont);
}
.submit-button:hover{
    scale: 1.1;
    cursor: pointer;
}